// Modal
#addComic.modal.fade(tabindex="-1", role="dialog", aria-labelledby="addComicLabel", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5#addComicLabel.modal-title Add New Comic
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        #form-container.panel
          form#add-file-form
            input#file-id(type="hidden", value="")
            .form-group
              label(for="file-series") Series
              input#file-series.form-control(type="text", placeholder="Action Comics")
            .form-group
              label(for="file-volume") Volume
              input#file-volume.form-control(type="number", placeholder="1938")
            .form-group
              label(for="file-issue") Issue #
              input#file-issue.form-control(type="number", placeholder="1")
            .form-group
              label(for="file-coverDate") Cover Date
              input#file-coverDate.form-control(type="text", placeholder="06/1938")
            button.btn.btn-success(type="button", data-dismiss="modal", onclick="submitFileForm()") Save Changes
            button.btn.btn-link(type="button", data-dismiss="modal") Cancel