nav.navbar.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href="https://techgladiator.github.io/comic-collection") Comic Collection
    .btn-group
      // Button trigger modal
      button.btn.btn-primary.add-comic(type="button", data-toggle="modal", data-target="#addComic") Add New Comic
      button.btn.btn-success(type="button") Edit Mode