// Navbar
nav.navbar.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href="https://techgladiator.github.io/comic-collection") Comic Collection
    .btn-group
      // Button trigger modal
      button.btn.btn-primary(type="button", data-toggle="modal", data-target="#addComic", onclick="toggleAddFileForm()") New Comic
      button.btn.btn-success(type="button", onclick="toggleEdit()") Edit Mode