// Handlebars data list template
script#list-template(type="text/x-handlebars-template").
  <div class="edit-mode invisible">
    <button class="btn btn-sm btn-danger deleted"><a href="/deleted">Recently Deleted</a></button>
  </div>
  <div class="row">
    {{#each files}}
    <div class="card">
      <div class="border">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th colspan="2">Issue Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Series</th>
              <td>{{series}}</td>
            </tr>
            <tr>
              <th scope="row">Volume</th>
              <td>{{volume}}</td>
            </tr>
            <tr>
              <th scope="row">Issue Number</th>
              <td>{{issue}}</td>
            </tr>
            <tr>
              <th scope="row">Cover Date</th>
              <td>{{coverDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-group mt-1 edit-mode invisible">
        <button class="btn btn-sm btn-success btn-block" type="button" data-toggle="modal" data-target="#addComic" onclick="editFileClick('{{_id}}')">Edit</button>
        <button class="btn btn-sm btn-danger btn-block" type="button" onclick="deleteFileClick('{{_id}}')">Delete</button>
      </div>
    </div>
    {{/each}}
  </div>
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src="/js/vendor/jquery-3.2.1.min.js")
script(src="/js/vendor/popper.min.js")
script(src="/js/vendor/bootstrap.min.js")
script(src="/js/vendor/handlebars.min.js")
script(src="/js/app.js")