doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
	body
		h1= message
		h2 Welcome to Comic Collection!
		#list-container
		script#list-template(type="text/x-handlebars-template").
			<ul class="list-group">
				{{#each files}}
				<li class="list-group-item">
					<strong>{{series}}:</strong> {{volume}} - {{issue}} - {{coverDate}}
				</li>
				{{/each}}
			</ul>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.min.js")
		script(src="/js/app.js")
