/*--- base styles ---*/

/*--- jumbotron ---*/

.jumbotron {
  background: url(../docs/images/maxresdefault.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--- table style ---*/

.table {
  margin: 0;
}

/*--- media queries ---*/

@media (max-width: 767px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}